.home-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  .home-links a {
    height: 10rem;
    width: calc(100% * (1/3) - 10px - 1px);
    text-align: center;
    align-content: center;
    border: 1px solid #cccccc00; /* using border for better visibility */
    box-shadow: 5px 5px 5px #00000052;
    box-sizing: border-box;
    background-color: #FFE2FA;
    border-radius: 35px; /* make rounded squares */
    color: black;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 30px; /* vertical spacing between links */
    margin-right: 30px;
  }